<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Free Mentors|sign-in</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/img/logo.svg" alt="FreeMentorsLogo"></a>
    </header>

    <div class="login-box">
        <h1>Login</h1>

        <div class="textbox">
            <input type="email" name="email" placeholder="Email" value="">
        </div>

        <div class="textbox">
            <input type="password" name="password" placeholder="Password" value="">
        </div>

        <input type="button" value="Sign In" class="btn-login">

        <p>Not yet a member? <a class="auth-redirect" href="sign-up">Sign up here</a></p>
    </div>
</body>

</html>