<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/js/mentor.js"></script>
    <link rel="stylesheet" href="/css/mentor.css">
    <title>Users</title>
</head>

<body>
    <div class="container">
        <header>
            <img class="logo" src="/img/logo.svg" alt="FreeMentorsLogo">
            <h1>Free Mentors</h1>
            <a href="sign-in" class="btn-sign-out">Sign Out</a>
        </header>

            <div id="side-menu" class="side-menu" onmouseleave="closeMenu()">
                <ul>
                    <li><a href="view-requests">Session Requests</a></li>
                    <li><a class="active" href="view-all-users">View Users</a></li>
                    <li><a href="#">Session History</a></li>
                </ul>
            </div>

        <img src="/img/arrow.svg" alt="menu" class="expand-arrow" id="expandArrow" onmouseover="openMenu()" />

        <div id="main" class="main">
            <div class="title">
                <h1>Mentees</h1>
            </div>

            <table id="users">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Stephen</td>
                    <td>Araka</td>
                    <td><button class="promote">Make Mentor</button></td>
                </tr>
                <tr>
                    <td>Douglas</td>
                    <td>Akena</td>
                    <td><button class="promote">Make Mentor</button></td>
                </tr>
                <tr>
                    <td>Najib</td>
                    <td>Mazio</td>
                    <td><button class="promote">Make Mentor</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>