@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* {
    font-family: 'Montserrat', Tahoma, sans-serif;
}

body {
    margin: 0;
    transition: background-color 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: .5em;
    color: lavender;
}

.btn-sign-out {
    background-color: inherit;
    text-align: right;
    padding: 1em 2em;   
    color: #00ec00cc;
    text-decoration: none;
    font-weight: bolder;
}

.logo {
    width: 3em;
    height: 3em;
    filter: invert(100%);
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    margin-left: -250px;
    transition: 0.5s;
    z-index: 1;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 50%;
    margin-left: 45px;
}

.side-menu a {
    text-decoration: none;
    margin-bottom: 30px;
    font-size: .8rem;
    color: white;
    display: block;
    transition: 0.1s;
}

.side-menu a:hover {
    color: #25f5c5;
}

.side-menu a.active {
    color: #25f5c5;
}

.main {
    width: 60%;
    margin: auto;
    transition: 0.5s;
    padding-top: 20px;
    padding-left: 20px;
}

.expand-arrow {
    transition: 0.5s;
    position: fixed;
    bottom: 30%;
}

.caption button.btn-request-session {
    background-color: #0070cc;
    width: 50%;
    display: block;
    color: #fff;
    padding: .5em;
    font-size: 1rem;
    margin: 7% 3%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
}

.caption button.btn-request-accept {
    background-color: #0cd105;
    display: inline;
    color: #fff;
    padding: .5em;
    font-size: 1rem;
    margin: 7% 3%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.caption button.btn-request-decline {
    background-color: #d10505;
    display: inline;
    color: #fff;
    padding: .5em;
    font-size: 1rem;
    margin: 7% 3%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.caption button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.content img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
}

.content img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

div.buttons-div {
    columns: 2;
}

.content {
    /* webkit = Chrome, Opera, Edge  */
    /* Moz = Mozilla */
    -webkit-column-gap: 5%  ;
    -moz-column-gap: 5%;
    column-gap: 5%;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
} 

button.btn-promote {
    background-color: #0070cc;
    display: inline;
    color: #fff;
    padding: .5em;
    font-size: 1rem;
    margin: 7% 3%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}