body {
    padding: 20px;
}

.title {
    color: #dc2d5e;
    text-align: center;
}

.tabContainer {
    width: 100%;
    height: 350px;
}

.tabContainer .buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    width: 50%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: #eee;
}

.tabContainer .buttonContainer button:hover {
    background-color: #d7d4d4;
}


.tabContainer .tabPanel {
    height: 85%;
    border: 1px gray solid;
    color: dodgerblue;
    text-align: left;
    padding: 3% 3%;
    box-sizing: border-box;
    display: none;
}

/* Modal Here */

.modal {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    visibility: visible;
}

.modal__content {
    width: 30%;
    height: 65%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: .8em;
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

/* #modal:target {
    opacity: 1;
    visibility: visible;
}

#modal:target .modal__content {
    opacity: 1;
    visibility: visible;
} */

a:link, a:visited {
    text-decoration: none;
}

.modal-close {
    color: #363636;
    font-size: 2em;
    position: absolute;
    top: .5em;
    right: 1em;
}

.modal__heading {
    color: dodgerblue;
    margin-bottom: 1em;
}

.modal__paragraph {
    line-height: 1.5em;
}

.modal-open {
    display: inline-block;
    color: dodgerblue;
    margin: 2em;
}

.btn-login {
    width: 50%;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}